.button{
    height: 70px;
    width: 90px;
    background-color: black;
    color: deepskyblue;
    font-size: large;
    position: relative;
    border-radius: 40px;
    margin-right: 80%;
    margin-bottom: 80%;
    top: -50%;
}
@mediaquery(max-width:600px){
container{
    height: 500px;
    width: 500px;
   
 

    margin-left: 40px;
    border: none;
}
}
    

#img{
    object-fit: cover;
  
}
.button::after,.button::before{
    content: "";
    position: absolute;
    height: 70px;
    width: 90px;
    border-radius: 40px;
   background: conic-gradient(rgb(65, 0, 65),rgb(6, 252, 252),rgb(3, 84, 234));
    top: 0;
    left: 0;
    transform: translate(-50,-50);
    z-index: -1;
    padding: 3px;
    left: -5px;
    top: -5px;

}
.button::before{
    filter: blur(1.5rem);
    opacity: 0.9;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}